* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    color: #ffffff;
    font-weight: 600;
    background-color: #469165;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    color: #ffffff;
    background-color: rgba(10, 32, 81, 0.697);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: #ffffff;
}

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}
