* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  color: #ffffff;
  font-weight: 500;
  background-color: #469165;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  color: #ffffff;
  background-color: rgba(10, 32, 81, 0.697);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
  background-color: #ffffff;
}

.menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}

.hero {
  text-align: center;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 154px 341px 179px 341px;
}

.top-text {
  display: flex;
  gap: 6px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  max-width: 229px;
  margin: 0 auto;
  border-radius: 1000px;
  padding: 8px 12px;
}

.top-text img {
  height: 16px;
}

.top-text h4 {
  font-size: 16px;
  font-weight: 500;
}

#white-text {
  color: #ffffff;
  margin-top: 16px;
  font-size: 72px;
  font-weight: bold;
}

#green-text {
  color: #469165;
  margin-top: 16px;
  font-size: 72px;
  font-weight: bold;
}

.hero p {
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 32px;
  max-width: 718px;
  margin: 16px auto 32px auto;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.transparent-btn {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  padding: 12.5px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.transparent-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.note {
  text-align: center;
  margin: 50px auto 50px auto;
}

.note h2 {
  font-size: 48px;
  font-weight: bold;
}

.note p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
}

.note-card-container {
  width: 85%;
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 44px auto 0 auto;
}

.note-card {
  border-radius: 8px;
  padding: 60.5px 24px;
  box-shadow: 2px 2px 8px 0px rgba(86, 85, 85, 0.416);
}

.note-card img {
  background-color: #f95555;
  padding: 10px;
  border-radius: 50%;
}

.note-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

.brain-container {
  display: flex;
  gap: 60px;
  align-items: center;
  width: 85%;
  max-width: 1360px;
  margin: 120px auto 0px auto;
}
.brain-image {
  max-width: 600px;
}

.brain-content {
  max-width: 700px;
}

.brain-content h3 {
  color: #469165;
  font-size: 16px;
  font-weight: 600;
}

.brain-content h2 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 16px;
  max-width: 516px;
}

.brain-content p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
  max-width: 485px;
}

.brain-content ul {
  list-style: none;
  margin-top: 40px;
  align-items: center;
}

.brain-content ul li {
  color: #001931;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.brain-content ul li img {
  margin-right: 4px;
  height: 16px;
}

.early-access {
  text-align: center;
  width: 85%;
  max-width: 1360px;
  margin: 120px auto 0px auto;
  background-color: #f7f6f2;
  padding: 80px 40px;
  border-radius: 12px;
}

.early-access h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
}

.early-access p {
  color: #627382;
  margin-top: 16px;
  line-height: 24px;
}

.early-access .btn {
  margin-top: 24px;
}

footer {
  background-color: #001931;
  margin-top: 120px;
}

.footer-container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 120px 0px;
  border-bottom: 2px solid #ffffff;
}

.footer-logo img {
    height: 60px;
}

.social h3 {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: 600;
}

.social i {
    color: #000000;
    background-color: #FAFAFA;
    font-size: 20px;
    margin-right: 16px;
    border-radius: 50%;
    padding: 4px;
}

.social i:hover {
    background-color: #2b72b4ad;
    color: #ffffff;
    cursor: pointer;
}

footer p {
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    padding-bottom: 16px;
}